@using MVC.Models
@model List<ClasseViewModel>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom de l'établissement</th>
            <th scope="col">Niveau</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var classe in Model)
        {
            <tr>
                <th scope="row">@classe.Id</th>
                <td>@classe.NomEtablissement</td>
                <td>@classe.Niveau</td>
            </tr>
        }
    </tbody>
</table>
